---
page_title: "eci_block_storage_snapshot Resource - eci"
subcategory: ""
description: |-
  Manages an ECI block storage snapshot.
---

# eci_block_storage_snapshot (Resource)

Manages an ECI block storage snapshot. Snapshots capture the state of a block storage at a point in time and can be used to create new block storage volumes.

## Example Usage

{{ tffile "examples/resources/eci_block_storage_snapshot/resource.tf" }}

{{ .SchemaMarkdown | trimspace }}
