---
page_title: "eci_network_interface Resource - eci"
subcategory: ""
description: |-
  Manages an ECI network interface.
---

# eci_network_interface (Resource)

Manages an ECI network interface (NIC). A NIC connects a virtual machine to a subnet, providing the VM with a private IP address.

## Example Usage

{{ tffile "examples/resources/eci_network_interface/resource.tf" }}

{{ .SchemaMarkdown | trimspace }}
