---
page_title: "eci_public_ip Resource - eci"
subcategory: ""
description: |-
  Manages an ECI public IP address.
---

# eci_public_ip (Resource)

Manages an ECI public IP address. Attach to a network interface to expose a VM to the internet.

## Example Usage

{{ tffile "examples/resources/eci_public_ip/resource.tf" }}

{{ .SchemaMarkdown | trimspace }}
