---
page_title: "eci_subnet Resource - eci"
subcategory: ""
description: |-
  Manages an ECI subnet.
---

# eci_subnet (Resource)

Manages an ECI subnet within a virtual network.

## Example Usage

{{ tffile "examples/resources/eci_subnet/resource.tf" }}

{{ .SchemaMarkdown | trimspace }}
