---
page_title: "eci_virtual_network Resource - eci"
subcategory: ""
description: |-
  Manages an ECI virtual network.
---

# eci_virtual_network (Resource)

Manages an ECI virtual network. A virtual network defines the IP address space (CIDR) and firewall rules.

## Example Usage

{{ tffile "examples/resources/eci_virtual_network/resource.tf" }}

{{ .SchemaMarkdown | trimspace }}
