---
page_title: "eci_block_storage_image Data Source - eci"
subcategory: ""
description: |-
  Provides information about an ECI block storage image.
---

# eci_block_storage_image (Data Source)

Provides information about an ECI block storage image (OS image).

## Example Usage

{{ tffile "examples/data-sources/eci_block_storage_image/data-source.tf" }}

{{ .SchemaMarkdown | trimspace }}
