---
page_title: "eci_instance_type Data Source - eci"
subcategory: ""
description: |-
  Provides information about an ECI instance type.
---

# eci_instance_type (Data Source)

Provides information about an ECI instance type (e.g., `C-2`, `M-8`), including CPU, memory, and device specs.

## Example Usage

{{ tffile "examples/data-sources/eci_instance_type/data-source.tf" }}

{{ .SchemaMarkdown | trimspace }}
