---
page_title: "eci_region Data Source - eci"
subcategory: ""
description: |-
  Provides information about an ECI region.
---

# eci_region (Data Source)

Provides information about an ECI region (e.g., `central-01`).

## Example Usage

{{ tffile "examples/data-sources/eci_region/data-source.tf" }}

{{ .SchemaMarkdown | trimspace }}
