---
page_title: "eci_zone Data Source - eci"
subcategory: ""
description: |-
  Provides information about an ECI zone.
---

# eci_zone (Data Source)

Provides information about an ECI zone. Zones are the deployment target for all ECI resources.

## Example Usage

{{ tffile "examples/data-sources/eci_zone/data-source.tf" }}

{{ .SchemaMarkdown | trimspace }}
